<div
    class="w-full max-w-dm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">

    <div class="mt-4 flex flex-1 flex-col justify-between space-y-2 sm:mr-6 md:mt-0">
        <h1 class="text-3xl font-semibold text-gray-800 dark:text-night-300">Resumen de Envio</h1>
        <hr>

        <div>
            <h2 class="text-lg font-semibold text-gray-800 dark:text-night-300">Dirección</h2>
            <div class="mt-2">
                <div class="mb-2">
                    <label class="block text-sm font-medium text-gray-700 dark:text-night-200">{{ city }}, {{ country }}</label>
                    <label class="block text-sm font-medium text-gray-700 dark:text-night-200">{{ street }} {{ house }}, {{ postalCode }}</label>
                </div>
            </div>
            <hr>
        </div>

        <div>
            <h2 class="text-lg font-semibold text-gray-800 dark:text-night-300">Datos del cliente</h2>
            <div class="mt-2">
                <div class="mb-2">
                    <label class="block text-sm font-medium text-gray-700 dark:text-night-200">{{ name }} {{ surnames }}</label>
                    <label
                        class="block text-sm font-medium text-gray-700 dark:text-night-200">NIE/CIF: {{ nie }}</label>
                    <label 
                        class="block text-sm font-medium text-gray-700 dark:text-night-200">Correo electrónico: {{ email }}</label>
                    <label 
                        class="block text-sm font-medium text-gray-700 dark:text-night-200">Teléfono: {{ phone }}</label>
                </div>
            </div>
            <hr>
        </div>

        <div class="flex flex-col">
            <span class="text-lg font-semibold text-gray-900 dark:text-night-300">Total: {{ total | number: '1.2-2' }} €</span>
        </div>
        <hr>

        <div class="d-none d-sm-block">
            <h1 class="text-3xl font-semibold text-gray-800 dark:text-night-300">Lista de Prodcutos</h1>
            <hr>
            <div class="flex felx-col">
                <product-table [productsCesta]="productsCesta"></product-table>
            </div>
        </div>
    </div>
</div>