<div class="ml-0 px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->
  <product-header></product-header>
  <!-- end Header -->

  <div class="grid grid-cols-1 gap-20   md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->
    <!-- <div calzado-dual-card [calzado]="calzado[1]" class="md:col-span-2"></div> -->
    <!-- end Dual Card -->
    <div product-single-card [producto]="product[0]"></div>
    <div product-single-card [producto]="product[1]"></div>
    <div product-single-card [producto]="product[2]"></div>
    <div product-single-card [producto]="product[3]"></div>
    <div product-single-card [producto]="product[4]"></div>
    <div product-single-card [producto]="product[5]"></div>
    <div product-single-card [producto]="product[6]"></div>
    <div product-single-card [producto]="product[7]"></div>
 
  </div>
</div>
