<h2>Cesta</h2>

<div class="row">
  <div class="col">
    <countries-table [countries]="countries"></countries-table>
  </div>
  <div class="col">
    <resumen-card></resumen-card>
  </div>
</div>

<button class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
    Actualizar cesta
</button>

<div class="row">
    <div class="col">
        <!-- SearchBox -->
        <shared-search-box
          (onValue)="searchByCapital($event)"
          placeholder="Buscar por capital"></shared-search-box>
    </div>
  </div>