<div *ngIf="productsCesta.length === 0; else productos">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="text-center">
      <h1 class="display-4">No tienes productos en tu cesta.</h1>
      <p class="lead">
        Haga clic
        <a href="../../../mujer/" class="enlace">
          aquí
        </a>
        para continuar comprando.
      </p>
    </div>
  </div>
</div>

<ng-template #productos>
  <div class="container mt-8 mb-8">
    <h1 class="display-4">Cesta</h1>

    <div class="row">
      <div class="col-md-6">
        <product-table [productsCesta]="productsCesta"></product-table>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <resumen-card></resumen-card>
      </div>
    </div>
  </div>
</ng-template>