<div *ngIf="productsCesta.length === 0; else productos">
  <no-products></no-products>
</div>

<ng-template #productos>
  <div class="container mt-8 mb-8 dark:text-night-50">
    <h1 class="display-4">Cesta</h1>

    <div class="row">
      <div class="col-md-6 dark:text-night-50">
        <product-table [productsCesta]="productsCesta"></product-table>
      </div>
      <div class="col-md-6 d-flex justify-content-center dark:text-night-50">
        <resumen-card></resumen-card>
      </div>
    </div>
  </div>
</ng-template>