<ng-template #realizarPago>
  <ng-template #pago>
    <div class="container mt-8 mb-8">
      <div class="row">
        <div class="col-md-6">
          <h4 class="text-2xl font-bold">Selecciona tu método de pago</h4>

          <hr>

          <div class="mt-4">
            <input type="radio" id="paypal" name="metodoPago" value="paypal">
            <label for="paypal" class="ml-2">PayPal</label>
          </div>

          <div class="mt-4">
            <input type="radio" id="tarjeta" name="metodoPago" value="tarjeta">
            <label for="tarjeta" class="ml-2">Tarjeta</label>
          </div>

          <div class="mt-4">
            <button (click)="clearList(); compraRealizada()"
              class="rounded-md bg-yellow-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-yellow-600">
              Realizar Pago
            </button>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center mt-4">
          <envio-card></envio-card>
        </div>
      </div>
    </div>
  </ng-template>

  <div *ngIf="realizada; else pago">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="text-center">
        <h1 class="display-4">Compra realizada.</h1>
        <p class="lead">
          Haga clic
          <a href="../../../mujer/" class="enlace">
            aquí
          </a>
          para continuar comprando.
        </p>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="productsCesta.length === 0; else realizarPago">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="text-center">
      <h1 class="display-4">No tienes productos en tu cesta.</h1>
      <p class="lead">
        Haga clic
        <a href="../../../mujer/" class="enlace">
          aquí
        </a>
        para continuar comprando.
      </p>
    </div>
  </div>
</div>