<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-2xl font-bold">Selecciona tu método de pago</h4>

      <hr>

      <div class="mt-4">
        <input type="radio" id="paypal" name="metodoPago" value="paypal">
        <label for="paypal" class="ml-2">PayPal</label>
      </div>

      <div class="mt-4">
        <input type="radio" id="tarjeta" name="metodoPago" value="tarjeta">
        <label for="tarjeta" class="ml-2">Tarjeta</label>
      </div>

      <div class="mt-4">
        <button class="rounded-md bg-yellow-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-yellow-600">
          Realizar Pago
        </button>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center mt-4">
      <envio-card></envio-card>
    </div>
  </div>
</div>