<div class="flex h-screen w-screen">
  <div class="hidden flex-1 items-center justify-center bg-black bg-gray lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/ubt.png" alt="dashboard widget" class="ml-19.5 bg-gray-300 rounded p-100" />
      <h1 class="text-4xl font-bold text-yellow-500">"Ropa de Calidad al Mejor Precio"</h1>
      <p class="text-xs font-light">
        Descubre la esencia urbana en cada hilo de Urban Threads. Sumérgete en nuestro universo de estilo moderno, donde la moda se fusiona con la innovación. Desde las calles hasta tu armario, cada prenda cuenta una historia única.
      
        Nuestra filosofía se basa en la autenticidad y la expresión personal. En Urban Threads, no seguimos las tendencias, las creamos. Cada pieza está diseñada para destacar y reflejar tu individualidad. 
      
        <span class="cursor-pointer font-medium text-yellow-400">Explora</span> nuestra colección, donde la calidad se encuentra con la vanguardia. Desde prendas casuales hasta looks sofisticados, cada costura es un testimonio de nuestro compromiso con la excelencia. 
      
        Únete a la revolución de la moda en Urban Threads, donde la <span class="cursor-pointer font-medium text-yellow-400">innovación</span> se encuentra con la elegancia. Tu estilo es único, y tus prendas también deberían serlo. Vive la experiencia Urban Threads y haz una declaración de moda que sea tan auténtica como tú.
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-white dark:bg-black">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded bg-yellow-400 p-2">
          <svg-icon src="assets/icons/logo.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        </a>
        <b class="text-md pl-3 font-bold text-black dark:text-white"> Urban Threads </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>