<div class="ml-0 px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->
  <app-calzado-header></app-calzado-header>
  <!-- end Header -->

  <div class="grid grid-cols-1 gap-20   md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->
    <!-- <div calzado-dual-card [calzado]="calzado[1]" class="md:col-span-2"></div> -->
    <!-- end Dual Card -->
    <!-- Single Card -->
    <div calzado-single-card [calzado]="calzado[1]"></div>
   
    <!-- end Single Card -->
    <!-- Single Card -->
    <div calzado-single-card [calzado]="calzado[2]"></div>
    <!-- end Single Card -->
    <!-- Single Card -->
    
    <!-- end Single Card -->
    <!-- Auctions Table -->
    
  </div>
</div>
