table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  td {
    vertical-align: middle; 
  }
  
  img {
    max-width: 150px; 
  }
  
  th:first-child,
  td:first-child {
    padding-left: 20px;
  }
  
  th:last-child,
  td:last-child {
    padding-right: 20px;
  }

  