<!-- <div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
    No hay productos en la cesta
</div> -->
  
  <!-- <ng-template #table>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Producto</th>
          <th></th>
          <th>Precio</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>
            <img [src]="country.flags.svg" [alt]="country.name.common">
          </td>
          <td>prueba</td>
          <td>1</td>
          <td>1</td>
  
        </tr>
      </tbody>
  
    </table>
  
  </ng-template> -->
  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th></th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>imagen</td>
        <td>nombre</td>
        <td>unidades</td>
        <td>precio</td>
      </tr>
    </tbody>
  </table>